name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22]
    timeout-minutes: 30
    steps:
      - name: checkout pushed commit
        uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: cache dependencies
        uses: actions/cache@v5
        with:
          path: | 
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn install --frozen-lockfile
      - name: typecheck
        run: yarn typecheck
      - name: lint
        run: yarn lint
      - name: test
        run: yarn test
